@import '../../styles/settings';
@import '../../styles/mixins';

.tooltip {
    display: inline-block;
    position: relative;

    &__label {
        text-decoration: underline;
        cursor: pointer;
    }

    &__overlay {
        display: block;
        $width: 400px;
        width: $width;
        @include typography-small;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -$width / 2;
        color: $color-white;
        padding-bottom: 30px;

        &--hidden {
            display: none;
        }
    }

    &__overlay-inner {
        display: block;
        background-color: $color-brand-dark;
        border-radius: 2px;
        position: relative;
        padding: $spacing-gutter;

        &::before {
            $size: 16px;
            position: absolute;
            display: block;
            content: '';
            left: 50%;
            right: 0;
            top: 100%;
            border: $size solid transparent;
            margin-left: -$size;
            border-top-color: $color-brand-dark;
            width: 0;
            height: 0;
        }
    }
}
