// Spacing
$spacing-gutter: 20px;
$spacing-margin: 30px;
$spacing-section: 50px;

// Colors
$color-black: black;
$color-white: white;

$color-grey-dark: #314455;
$color-grey-light: #97AABD;

$color-brand-dark: #644E5B;
$color-brand-neutral: #9E5A63;
$color-brand-light: #C96567;