:root {
    /**
     * -------------------------------------------------------------------------
     * Spacing
     * -------------------------------------------------------------------------
     */
    --spacing-gutter: 20px;
    --spacing-margin: 30px;
    --spacing-section: 50px;

    /**
     * -------------------------------------------------------------------------
     * Colors
     * -------------------------------------------------------------------------
     */
    --color-black: black;
    --color-white: white;

    --color-grey-dark: #314455;
    --color-grey-light: #97aabd;

    --color-brand-dark: #644e5b;
    --color-brand-neutral: #9e5a63;
    --color-brand-light: #c96567;
}
